[data-type="ws-blocks/hero-banner"] {
    background-color: darkgray;

    .hero-inner svg {
        max-width: 450px;
        margin: auto;
        display: block;
    }

    section {
        padding-top: 72px;
        padding-bottom: 72px;
        background-size: cover;
    }

    p.explainerText {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
    }
    .editor-button {
        display: block;
        margin: 20px auto 20px auto;
    }
}
